@page "/admindetails/item"
@layout Layouts.Admin.AdminLayout
@using BlazorApp1.Localization.Item;
@using System.Globalization;
@inject IStringLocalizer<Resource> localizer

<PageTitle>Item</PageTitle>

<h1>@localizer["itempage"]</h1>