@page "/counter"
@using BlazorApp1.Localization.Counter;
@inject IStringLocalizer<Resource> localizer

<PageTitle>Counter</PageTitle>

<h1>@localizer["counter"]</h1>

<p role="status">@localizer["currentcount"]: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">@localizer["clickme"]</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
